<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\Registration">
        <plugin name="Bodak_DisableRegistration::after" type="Bodak\DisableRegistration\Plugin\RegistrationPlugin"/>
    </type>
</config>